<div class="login-container">
  <form nz-form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)" class="login-form">
    <div class="logo-container">
      <img src="n1netails_icon_transparent.png" alt="N1netails Logo" class="login-logo" />
    </div>
    <h2>N1netails Login</h2>
    <nz-form-item class="n1netails-form-item">
      <nz-form-label [nzSpan]="24" nzFor="email" nzRequired>Email</nz-form-label>
      <nz-form-control [nzSpan]="24">
        <input
          nz-input
          type="email"
          id="email"
          name="email"
          ngModel
          required
          placeholder="Enter your email"
          class="n1netails-input"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="n1netails-form-item">
      <nz-form-label [nzSpan]="24" nzFor="password" nzRequired>Password</nz-form-label>
      <nz-form-control [nzSpan]="24">
        <input
          nz-input
          type="password"
          id="password"
          name="password"
          ngModel
          required
          placeholder="Enter your password"
          class="n1netails-input"
        />
      </nz-form-control>
    </nz-form-item>
    <button
      nz-button
      nzType="primary"
      class="login-btn"
      [disabled]="!loginForm.valid"
      type="submit"
    >
      Login with Email
    </button>

    <button
      nz-button
      nzType="default"
      (click)="onLoginWithPasskey()"
      class="login-btn passkey-btn"
      [disabled]="loginForm.value.password"
      type="button"
    >
      Login with Passkey
    </button>

    <button 
      *ngIf="githubAuthEnabled"
      nz-button
      nzType="default"
      (click)="loginWithGithub()"
      class="login-btn github-login-btn"
      type="button"
    >
      <nz-icon nzType="github" nzTheme="outline" style="margin-right: 8px;"/>
      Login with GitHub
    </button>


    <div class="register-link">
      <span>Don't have an account?</span>
      <a routerLink="/register">Register here</a>
    </div>
  </form>
</div>