<div class="app-header">
  <span class="header-title">
    <b>N1ne Tails</b>
  </span>

  <span style="float:right; margin-right: 21px;">
    <div>
      <span class="pointer" nz-dropdown [nzDropdownMenu]="profile" [nzTrigger]="'click'">
        <nz-avatar nzIcon="user"></nz-avatar>
      </span>
      <nz-dropdown-menu #profile="nzDropdownMenu">
        <ul nz-menu style="padding: 8px; width: 220px;">
          <li>
            <div style="display: flex; align-items: center;">
              <nz-avatar nzSize="large" nzSrc="n1netails_icon_transparent.png"></nz-avatar>
              <div style="margin-left: 10px;">
                <p style="margin: 0;">Shahid Foy</p>
                <p style="margin: 0;">Software Engineer</p>
              </div>
            </div>
            <hr>
          </li>
          <li nz-menu-item>
            <a>
              <div>
                <i nz-icon nzType="user" theme="outline"></i>
                <span> Edit Profile</span>
              </div>
            </a>
          </li>
          <li nz-menu-item>
            <a>
              <div>
                <i nz-icon nzType="lock" theme="outline"></i>
                <span> Account Setting</span>
              </div>
            </a>
          </li>
          <li nz-menu-item>
            <a>
              <div>
                <i nz-icon nzType="project" theme="outline"></i>
                <span> Projects</span>
              </div>
            </a>
          </li>
          <li nz-menu-item>
            <a>
              <div>
                <i nz-icon nzType="logout" theme="outline"></i>
                <span> Logout</span>
              </div>
            </a>
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </span>
</div>