<div class="app-header">
  <span (click)="dashboard()" class="header-title">
    <img src="n1netails_icon_transparent.png" alt="logo" style="height: 30px; margin-right: 8px;" *ngIf="isMobile()">
    <b>N1netails</b>
  </span>

  <span style="float: right; display: flex; align-items: right; justify-content: right;">

    <div class="right-items">
      <span class="pointer">
        <a class="header-link" [href]="n1netailsDocUrl" target="_blank">
          <nz-icon class="header-icon" nzType="read" nzTheme="outline" nzTooltipTitle="Docs" nzTooltipPlacement="bottom" nz-button nz-tooltip/>
        </a>
      </span>
    </div>
    <div class="right-items">
      <span class="pointer">
        @if (isInSettings === false) {
          <a class="header-link" (click)="accountSettings()">
            <nz-icon class="header-icon" nzType="setting" nzTheme="outline" nzTooltipTitle="Settings" nzTooltipPlacement="bottom" nz-button nz-tooltip/>
          </a>
        } @else {
          <a class="active-link" (click)="accountSettings()">
            <nz-icon class="header-icon" nzType="setting" nzTheme="outline" nzTooltipTitle="Settings" nzTooltipPlacement="bottom" nz-button nz-tooltip/>
          </a>
        }
        </span>
    </div>

    <div class="right-items">
      <span class="pointer" nz-dropdown [nzDropdownMenu]="profile" [nzTrigger]="'click'">
        @if (loggedInUser.providerId == null) {
          <nz-avatar nzIcon="user"></nz-avatar>
        } @else {
          <nz-avatar nzSize="default" [nzSrc]="loggedInUser.profileImageUrl"></nz-avatar>
        }
      </span>
      <nz-dropdown-menu #profile="nzDropdownMenu">
        <ul nz-menu style="padding: 8px; width: 220px;">
          <li>
            <div style="display: flex; align-items: center;">
              @if (loggedInUser.providerId == null) {
                <nz-avatar nzSize="large" nzIcon="user"></nz-avatar>
              } @else {
                <nz-avatar nzSize="large" [nzSrc]="loggedInUser.profileImageUrl"></nz-avatar>
              }
              <div style="margin-left: 10px;">
                <p style="margin: 0;">{{ loggedInUser.username }}</p>
                <p style="margin: 0;">{{ loggedInUser.email }}</p>
              </div>
            </div>
            <hr>
          </li>
          <li nz-menu-item>
            <a (click)="editProfile()">
              <div>
                <i nz-icon nzType="user" theme="outline"></i>
                <span> Edit Profile</span>
              </div>
            </a>
          </li>
          <li nz-menu-item>
            <a (click)="accountSettings()">
              <div>
                <i nz-icon nzType="lock" theme="outline"></i>
                <span> Account Setting</span>
              </div>
            </a>
          </li>
          <li nz-menu-item>
            <a>
              <div (click)="logOut()">
                <i nz-icon nzType="logout" theme="outline"></i>
                <span> Logout</span>
              </div>
            </a>
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>

  </span>
</div>
