<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Resolve Tail"
  [nzContent]="modalContent"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzFooter]="modalFooter"
>
  <ng-template #modalContent>
    <div *ngIf="selectedItem !== null" class="resolve-modal-content">
      <div class="resolve-modal-header">
        <nz-avatar
          [nzSrc]="tailUtilService.getKudaAvatar(selectedItem.level)"
          [nzSize]="56"
          class="resolve-modal-avatar"
        ></nz-avatar>
        <div class="resolve-modal-title-group">
          <span class="resolve-modal-title">{{ selectedItem.title }}</span>
          <div class="resolve-modal-tags">
            <nz-tag [nzColor]="tailUtilService.getLevelColor(selectedItem.level)" style="margin-right: 4px;">{{ selectedItem.level }}</nz-tag>
            <nz-tag [nzColor]="tailUtilService.getTypeColor(selectedItem.type)" style="margin-right: 4px;">{{ selectedItem.type }}</nz-tag>
            <nz-tag [nzColor]="tailUtilService.getStatusColor(selectedItem.status)">{{ selectedItem.status }}</nz-tag>
          </div>
        </div>
      </div>
      <div class="resolve-modal-body">
        <p><b>Description:</b> {{ selectedItem.description }}</p>
        <label for="resolveNote" class="resolve-modal-label"><b>Resolution Note:</b></label>
        <textarea
          id="resolveNote"
          nz-input
          [(ngModel)]="resolveNote"
          rows="3"
          class="resolve-modal-textarea"
          placeholder="Add a note (optional)"
        ></textarea>
      </div>
    </div>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button class="cancel-btn" nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button class="resolve-btn" nzType="primary" (click)="handleOk()">Resolve</button>
  </ng-template>
</nz-modal>
