services:
  #  N1neTails API
  api:
    image: shahidfo/n1netails-api:latest
# use for local build
#    build:
#      context: ./n1netails-api
    container_name: n1netails-api
    ports:
      - "9901:9901"
    depends_on:
      liquibase:
        condition: service_completed_successfully
      db:
        condition: service_healthy
    environment:
      SPRING_PROFILE_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/n1netails
      SPRING_DATASOURCE_USERNAME: n1netails
      SPRING_DATASOURCE_PASSWORD: n1netails
      N1NETAILS_PASSKEY_RELYING_PARTY_ID: localhost
      N1NETAILS_PASSKEY_ORIGINS: http://localhost:8080,http://localhost:9900,http://localhost:9901,http://localhost:4200
  # N1neTails UI
  ui:
    image: shahidfo/n1netails-ui:latest
# use for local build
#    build:
#      context: ./n1netails-ui
    container_name: n1netails-ui
    ports:
      - "9900:9900"
    depends_on:
      - api
    environment:
      SPRING_PROFILE_ACTIVE: docker
      API_BASE_URL: http://localhost:9901 # this can be changed to point to other n1netails-api urls
  # N1neTails Liquibase
  liquibase:
    image: shahidfo/n1netails-liquibase:latest
# use for local build
#    build:
#      context: ./n1netails-liquibase
    container_name: n1netails-liquibase
    depends_on:
      db:
        condition: service_healthy
    environment:
      SPRING_PROFILE_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/n1netails
      SPRING_DATASOURCE_USERNAME: n1netails
      SPRING_DATASOURCE_PASSWORD: n1netails
  # Postgres Database
  db:
    image: postgres:16-alpine
    container_name: n1netails_db
    environment:
      POSTGRES_DB: n1netails
      POSTGRES_USER: n1netails
      POSTGRES_PASSWORD: n1netails
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./initdb:/docker-entrypoint-initdb.d
    ports:
      - "5434:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U n1netails" ]
      interval: 10s
      timeout: 5s
      retries: 60

volumes:
  pgdata:
