spring.banner.location: classpath:banner.txt
server:
  port: ${PORT:9900}
  connection-timeout: -1
  max-http-header-size: -1
  forward-headers-strategy: framework

info:
  app:
    name: '@project.name@'
    description: '@project.description@'
    version: '@project.version@'

spring.web.resources.add-mappings: true
spring.web.resources.static-locations: classpath:/static/

management:
  endpoints:
    web:
      exposure:
        include: health,info

n1netails:
  api.url: ${API_BASE_URL:http://localhost:9901}
  doc.url: ${API_DOC_URL:https://n1netails.com}
  notifications:
    enabled: ${N1NETAILS_NOTIFICATIONS_ENABLED:false}
    email.enabled: ${N1NETAILS_NOTIFICATIONS_EMAIL_ENABLED:false}
    msteams.enabled: ${N1NETAILS_NOTIFICATIONS_MSTEAMS_ENABLED:false}
    slack.enabled: ${N1NETAILS_NOTIFICATIONS_SLACK_ENABLED:false}
    discord.enabled: ${N1NETAILS_NOTIFICATIONS_DISCORD_ENABLED:false}
    telegram.enabled: ${N1NETAILS_NOTIFICATIONS_TELEGRAM_ENABLED:false}

gemini.enabled: ${GEMINI_ENABLED:false}
openai.enabled: ${OPENAI_ENABLED:false}

auth:
  github:
    enabled: ${GITHUB_OAUTH2_ENABLED:false}

#########################################
# Docker
#########################################
---
spring.config.activate.on-profile: docker
n1netails:
  api.url: ${API_BASE_URL}