<div class="sidebar-logo">
  <a routerLink="/dashboard">
    <img src="n1netails_icon_transparent.png" alt="logo">
    <h1>N1netails</h1>
  </a>
</div>
<ul nz-menu nzTheme="dark" nzMode="inline" nzInlineCollapsed="true">
  <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
    <ul class="tails-menu">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a>Runbooks</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a>Tails</a>
      </li>
    </ul>
  </li>
  <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
    <ul>
      <li nz-menu-item nzMatchRouter>
        <a>Notes</a>
      </li>
    </ul>
  </li>
</ul>
