@import '../../../variables.less';

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.notification-platforms {
  margin-bottom: 20px;
}

.notification-platforms nz-switch {
  margin: 0 10px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

input[nz-input] {
  margin-bottom: 10px;
}
