<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzCollapsed="true" [nzTrigger]="null">
    <app-sidenav></app-sidenav>
  </nz-sider>

  <nz-layout>
    <nz-header>
      <app-header></app-header>
    </nz-header>

    <nz-content *ngIf="UiConfigService.isNotificationsEnabled()">
      <div class="inner-content">
        <nz-row class="notification-manager-container" [nzGutter]="[16, 16]">
          <nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24">
            <nz-card nzTitle="Notification Manager for Token: {{ token.name }}" [nzBordered]="false">
              <!-- Notification Platform Toggles -->
              <div class="notification-platforms">
                <label>Enable notifications for:</label>
                <span *ngIf="UiConfigService.isNotificationsEmailEnabled()"><nz-switch [(ngModel)]="platforms[this.EMAIL].enabled" (ngModelChange)="onPlatformToggle('email')"></nz-switch> Email</span>
                <span *ngIf="UiConfigService.isNotificationsMsTeamsEnabled()"><nz-switch [(ngModel)]="platforms[this.MICROSOFT_TEAMS].enabled" (ngModelChange)="onPlatformToggle('msteams')"></nz-switch> Microsoft Teams</span>
                <span *ngIf="UiConfigService.isNotificationsSlackEnabled()"><nz-switch [(ngModel)]="platforms[this.SLACK].enabled" (ngModelChange)="onPlatformToggle('slack')"></nz-switch> Slack</span>
                <span *ngIf="UiConfigService.isNotificationsDiscordEnabled()"><nz-switch [(ngModel)]="platforms[this.DISCORD].enabled" (ngModelChange)="onPlatformToggle('discord')"></nz-switch> Discord</span>
                <span *ngIf="UiConfigService.isNotificationsTelegramEnabled()"><nz-switch [(ngModel)]="platforms[this.TELEGRAM].enabled" (ngModelChange)="onPlatformToggle('telegram')"></nz-switch> Telegram</span>
              </div>
              <button nz-button nzType="primary" (click)="saveConfigurations()">Save Configurations</button>
            </nz-card>
          </nz-col>

          <!-- Configuration Sections -->
          <nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
            *ngIf="platforms[this.EMAIL].enabled && UiConfigService.isNotificationsEmailEnabled()">
              <nz-card [nzBordered]="false">
                <h3>Email Configuration</h3>
                <p>Add emails you wish to send alerts to.</p>
                <div class="config-row" *ngFor="let config of platforms[this.EMAIL].configs; let i = index">
                  <input nz-input [(ngModel)]="config.details.address" placeholder="Enter email address">
                  <button nz-button nzDanger (click)="removeConfig('email', i)">Remove</button>
                </div>
                <button nz-button nzType="dashed" (click)="addConfig('email')">+ Add Email</button>
              </nz-card>
          </nz-col>
          <nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
            *ngIf="platforms[this.MICROSOFT_TEAMS].enabled && UiConfigService.isNotificationsMsTeamsEnabled()">
              <nz-card [nzBordered]="false">
                <h3>Microsoft Teams Configuration</h3>
                <p>Add Microsoft Teams Webhooks (<a href="https://n1netails.com/docs/n1netails-teams-webhook-client/create-webhook" target="_blank">How to create webhooks for microsoft teams</a>).</p>
                <div class="config-row" *ngFor="let config of platforms[this.MICROSOFT_TEAMS].configs; let i = index">
                  <input nz-input [(ngModel)]="config.details.webhookUrl" placeholder="Enter webhook URL">
                  <button nz-button nzDanger (click)="removeConfig('msteams', i)">Remove</button>
                </div>
                <button nz-button nzType="dashed" (click)="addConfig('msteams')">+ Add Webhook</button>
              </nz-card>
          </nz-col>
          <nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
            *ngIf="platforms[this.SLACK].enabled && UiConfigService.isNotificationsSlackEnabled()">
              <nz-card [nzBordered]="false">
                <h3>Slack Configuration</h3>
                <p>Add Slack bots and channels (<a href="https://n1netails.com/docs/n1netails-slack-client/create-bot" target="_blank">How to create slack bots</a>).</p>
                <div class="config-row" *ngFor="let config of platforms[this.SLACK].configs; let i = index">
                  <input nz-input [(ngModel)]="config.details.botToken" placeholder="Enter bot token">
                  <input nz-input [(ngModel)]="config.details.channel" placeholder="Enter channel name (channel names need to include the hash tag ex. #prototype)">
                  <button nz-button nzDanger (click)="removeConfig('slack', i)">Remove</button>
                </div>
                <button nz-button nzType="dashed" (click)="addConfig('slack')">+ Add Slack Config</button>
              </nz-card>
          </nz-col>
          <nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
            *ngIf="platforms[this.DISCORD].enabled && UiConfigService.isNotificationsDiscordEnabled()">
              <nz-card [nzBordered]="false">
                <h3>Discord Configuration</h3>
                <p>Add Discord Webhooks (<a href="https://n1netails.com/docs/n1netails-discord-webhook-client/create-webhook" target="_blank">How to create webhooks for discord</a>).</p>
                <div class="config-row" *ngFor="let config of platforms[this.DISCORD].configs; let i = index">
                  <input nz-input [(ngModel)]="config.details.webhookUrl" placeholder="Enter webhook URL">
                  <button nz-button nzDanger (click)="removeConfig('discord', i)">Remove</button>
                </div>
                <button nz-button nzType="dashed" (click)="addConfig('discord')">+ Add Webhook</button>
              </nz-card>
          </nz-col>
          <nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24"
            *ngIf="platforms[this.TELEGRAM].enabled && UiConfigService.isNotificationsTelegramEnabled()">
              <nz-card [nzBordered]="false">
                <h3>Telegram Configuration</h3>
                <p>Add Telegram bot tokens and Telegram chat IDs (<a href="https://n1netails.com/docs/n1netails-telegram-client/create-bot" target="_blank">How to create telegram bots and generate chat IDs</a>).</p>
                <div class="config-row" *ngFor="let config of platforms[this.TELEGRAM].configs; let i = index">
                  <input nz-input [(ngModel)]="config.details.botToken" placeholder="Enter bot token">
                  <input nz-input [(ngModel)]="config.details.chatId" placeholder="Enter chat ID">
                  <button nz-button nzDanger (click)="removeConfig('telegram', i)">Remove</button>
                </div>
                <button nz-button nzType="dashed" (click)="addConfig('telegram')">+ Add Telegram Config</button>
              </nz-card>
          </nz-col>    
        </nz-row>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
