@import "ng-zorro-antd/ng-zorro-antd.dark.less";
@import "variables.less";

.pointer {
    cursor: pointer;
}

.tails-primary-color {
    color: @primary-color !important;
}

.tails-primary-background-color {
    background-color: @primary-color !important;
}
