<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzCollapsed="true" [nzTrigger]="null">
    <app-sidenav></app-sidenav>
  </nz-sider>

  <nz-layout>
    <nz-header>
      <app-header></app-header>
    </nz-header>

    <nz-content>
      <div class="inner-content">
        <nz-row class="edit-profile" [nzGutter]="8">
          <nz-col [nzSpan]="24">
            <nz-card class="tails-primary-color" nzTitle="Edit Profile" [nzBordered]="false">
              <div class="profile-flex">
                <div class="profile-details">

                  <form nz-form #profileForm="ngForm" (ngSubmit)="onSaveProfile(profileForm)">
                    <nz-form-item>
                      <nz-form-label [nzSpan]="4" nzFor="username" nzRequired>Username</nz-form-label>
                      <nz-form-control [nzSpan]="16">
                        <input
                          nz-input
                          type="text"
                          id="username"
                          name="username"
                          [(ngModel)]="usernameInput"
                          required
                          placeholder="Enter username"
                        />
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-label [nzSpan]="4" nzFor="firstName" nzRequired>First Name</nz-form-label>
                      <nz-form-control [nzSpan]="16">
                        <input
                          nz-input
                          type="text"
                          id="firstName"
                          name="firstName"
                          [(ngModel)]="firstNameInput"
                          required
                          placeholder="Enter first name"
                        />
                      </nz-form-control>
                    </nz-form-item>
                     <nz-form-item>
                      <nz-form-label [nzSpan]="4" nzFor="lastName" nzRequired>Last Name</nz-form-label>
                      <nz-form-control [nzSpan]="16">
                        <input
                          nz-input
                          type="text"
                          id="lastName"
                          name="lastName"
                          [(ngModel)]="lastNameInput"
                          required
                          placeholder="Enter last name"
                        />
                      </nz-form-control>
                    </nz-form-item>
                    <button
                      nz-button
                      nzType="primary"
                      type="submit"
                      [disabled]="!profileForm.valid"
                    >
                      Save
                    </button>
                  </form>

                </div>
              </div>
              
            </nz-card>
          </nz-col>
        </nz-row> 
        <nz-row [nzGutter]="8">
          <nz-col [nzSpan]="24">

            <nz-card nzTitle="Password Reset" class="tails-primary-color" [nzBordered]="false">
              <div *ngIf="passwordResetErrorMessage" style="color: #ff4d4f; margin-bottom: 12px; font-weight: 500;">
                {{ passwordResetErrorMessage }}
              </div>
              <div style="width: 100%;">
                <form nz-form (ngSubmit)="onPasswordReset()" #passwordForm="ngForm" class="password-form">
                  <nz-form-item style="margin-bottom: 0;">
                    <nz-form-label [nzSpan]="10" nzFor="newPassword" nzRequired>New Password: </nz-form-label>
                    <nz-form-control [nzSpan]="10">
                      <input nz-input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required
                        placeholder="Enter new password" />
                    </nz-form-control>
                    <button
                      nz-button
                      nzType="primary"
                      type="submit"
                      [disabled]="!passwordForm.valid"
                      style="min-width: 140px; margin-left: 126px; display: block;"
                    >
                      Reset Password
                    </button>
                  </nz-form-item>
                </form>
              </div>
            </nz-card>

          </nz-col>
        </nz-row>
        <nz-row [nzGutter]="8">
          <nz-col [nzSpan]="24">
            <nz-card nzTitle="Register Passkey" class="tails-primary-color" [nzBordered]="false">

            </nz-card>
          </nz-col>
        </nz-row>
      </div>
      
    </nz-content>
  </nz-layout>
</nz-layout>
