<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzCollapsed="true" [nzTrigger]="null">
    <app-sidenav></app-sidenav>
  </nz-sider>

  <nz-layout>
    <nz-header>
      <app-header></app-header>
    </nz-header>

    <nz-content>
      <div class="inner-content">
        <nz-row class="edit-profile" [nzGutter]="8">
          <nz-col [nzSpan]="24">
            <nz-card class="tails-primary-color" nzTitle="Edit Profile" [nzBordered]="false">
              
              <div class="profile-flex">
                <img class="profile-img" [src]="user.profileImageUrl">
                <div class="profile-details">

                  <form nz-form #profileForm="ngForm" (ngSubmit)="onSaveProfile(profileForm)">
                    <nz-form-item>
                      <nz-form-label [nzSpan]="4" nzFor="username" nzRequired>Username</nz-form-label>
                      <nz-form-control [nzSpan]="16">
                        <input
                          nz-input
                          type="text"
                          id="username"
                          name="username"
                          [(ngModel)]="usernameInput"
                          required
                          placeholder="Enter username"
                        />
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-label [nzSpan]="4" nzFor="firstName" nzRequired>First Name</nz-form-label>
                      <nz-form-control [nzSpan]="16">
                        <input
                          nz-input
                          type="text"
                          id="firstName"
                          name="firstName"
                          [(ngModel)]="firstNameInput"
                          required
                          placeholder="Enter first name"
                        />
                      </nz-form-control>
                    </nz-form-item>
                     <nz-form-item>
                      <nz-form-label [nzSpan]="4" nzFor="lastName" nzRequired>Last Name</nz-form-label>
                      <nz-form-control [nzSpan]="16">
                        <input
                          nz-input
                          type="text"
                          id="lastName"
                          name="lastName"
                          [(ngModel)]="lastNameInput"
                          required
                          placeholder="Enter last name"
                        />
                      </nz-form-control>
                    </nz-form-item>
                    <button nz-button nzType="primary" type="submit" [disabled]="!profileForm.valid">
                      Save
                    </button>
                  </form>

                </div>
              </div>
              
            </nz-card>
          </nz-col>
        </nz-row>

        <!-- Change Password Card -->
        <nz-row class="edit-profile" [nzGutter]="8" style="margin-top: 24px;">
          <nz-col [nzSpan]="24">
            <nz-card class="tails-primary-color" nzTitle="Change Password" [nzBordered]="false">
              <form nz-form #changePasswordNgForm="ngForm" (ngSubmit)="onChangePassword(changePasswordNgForm)">
                <!-- Current Password -->
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzFor="currentPassword" nzRequired>Current Password</nz-form-label>
                  <nz-form-control [nzSpan]="14" nzErrorTip="Please input your current password!">
                    <input
                      nz-input
                      type="password"
                      id="currentPassword"
                      name="currentPassword"
                      [(ngModel)]="currentPasswordInput"
                      required
                      placeholder="Enter current password"
                    />
                  </nz-form-control>
                </nz-form-item>

                <!-- New Password -->
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzFor="newPassword" nzRequired>New Password</nz-form-label>
                  <nz-form-control [nzSpan]="14" nzErrorTip="Password must be at least 8 characters long.">
                    <input
                      nz-input
                      type="password"
                      id="newPassword"
                      name="newPassword"
                      [(ngModel)]="newPasswordInput"
                      required
                      minlength="8" 
                      placeholder="Enter new password"
                    />
                  </nz-form-control>
                </nz-form-item>

                <!-- Confirm New Password -->
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzFor="confirmNewPassword" nzRequired>Confirm New Password</nz-form-label>
                  <nz-form-control [nzSpan]="14" nzErrorTip="Please confirm your new password!">
                    <input
                      nz-input
                      type="password"
                      id="confirmNewPassword"
                      name="confirmNewPassword"
                      [(ngModel)]="confirmNewPasswordInput"
                      required
                      placeholder="Confirm new password"
                    />
                    <!-- Custom error for mismatch can be added here if needed, or rely on component logic -->
                     @if (changePasswordNgForm.controls['confirmNewPassword']?.errors?.['mismatch'] && changePasswordNgForm.controls['confirmNewPassword']?.touched) {
                      <nz-form-explain>New passwords do not match.</nz-form-explain>
                    }
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-control [nzSpan]="14" [nzOffset]="6">
                    <button nz-button nzType="primary" type="submit" [disabled]="!changePasswordNgForm.valid">
                      Change Password
                    </button>
                  </nz-form-control>
                </nz-form-item>
              </form>
            </nz-card>
          </nz-col>
        </nz-row>
      </div>
      
    </nz-content>
  </nz-layout>
</nz-layout>
