<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzCollapsed="true" [nzTrigger]="null">
    <app-sidenav></app-sidenav>
  </nz-sider>

  <nz-layout>
    <nz-header>
      <app-header></app-header>
    </nz-header>

    <nz-content>
      <div class="inner-content">
        <nz-row class="edit-profile" [nzGutter]="[16, 16]">
          <nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24">
            <nz-card class="tails-primary-color" nzTitle="Edit Profile" [nzBordered]="false">
              <div class="profile-flex">
                <div class="profile-details">

                  <form nz-form #profileForm="ngForm" (ngSubmit)="onSaveProfile(profileForm)">
                    <nz-form-item>
                      <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="4" nzFor="username" nzRequired>Username</nz-form-label>
                      <nz-form-control [nzXs]="24" [nzSm]="18" [nzMd]="16">
                        <input
                          nz-input
                          type="text"
                          id="username"
                          name="username"
                          [(ngModel)]="usernameInput"
                          required
                          placeholder="Enter username"
                        />
                      </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                      <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="4" nzFor="firstName" nzRequired>First Name</nz-form-label>
                      <nz-form-control [nzXs]="24" [nzSm]="18" [nzMd]="16">
                        <input
                          nz-input
                          type="text"
                          id="firstName"
                          name="firstName"
                          [(ngModel)]="firstNameInput"
                          required
                          placeholder="Enter first name"
                        />
                      </nz-form-control>
                    </nz-form-item>
                     <nz-form-item>
                      <nz-form-label [nzXs]="24" [nzSm]="6" [nzMd]="4" nzFor="lastName" nzRequired>Last Name</nz-form-label>
                      <nz-form-control [nzXs]="24" [nzSm]="18" [nzMd]="16">
                        <input
                          nz-input
                          type="text"
                          id="lastName"
                          name="lastName"
                          [(ngModel)]="lastNameInput"
                          required
                          placeholder="Enter last name"
                        />
                      </nz-form-control>
                    </nz-form-item>
                    <button
                      nz-button
                      nzType="primary"
                      type="submit"
                      [disabled]="!profileForm.valid"
                    >
                      Save
                    </button>
                  </form>

                </div>
              </div>
              
            </nz-card>
          </nz-col>
        </nz-row> 
        <nz-row [nzGutter]="[16, 16]" class="profile-actions-row">
          <nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
            <nz-card nzTitle="Password Reset" class="tails-primary-color profile-side-card" [nzBordered]="false">
              <div *ngIf="passwordResetErrorMessage" class="error-message">
                {{ passwordResetErrorMessage }}
              </div>
              <div class="card-content">
                <p>Reset your account password here.</p>
                <form nz-form (ngSubmit)="onPasswordReset()" #passwordForm="ngForm" class="password-form">
                  <nz-form-item>
                    <nz-form-label [nzXs]="24" [nzSm]="8" [nzMd]="6" nzFor="newPassword" nzRequired>New Password: </nz-form-label>
                    <nz-form-control [nzXs]="24" [nzSm]="16" [nzMd]="18">
                      <input
                        nz-input
                        type="password"
                        id="newPassword"
                        name="newPassword"
                        [(ngModel)]="newPassword"
                        required
                        placeholder="Enter new password"
                      />
                    </nz-form-control>
                  </nz-form-item> 
                  <div class="card-actions">
                    <button
                      nz-button
                      nzType="primary"
                      type="submit"
                      [disabled]="!passwordForm.valid"
                    >
                      Reset Password
                    </button>
                  </div>
                </form>
              </div>
            </nz-card>
          </nz-col>
          <nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12">
            <nz-card nzTitle="Register Passkey" class="tails-primary-color profile-side-card" [nzBordered]="false">
              <div class="card-content">
                <p>Register a new passkey for your account. (Can be used as a backup for logging in.)</p>
                <div class="card-actions">
                  <button
                    nz-button
                    nzType="default"
                    (click)="onRegisterWithPasskey()"
                    class="login-btn passkey-btn"
                    type="button"
                  >
                    <nz-icon nzType="key" nzTheme="outline" />
                    Register Passkey
                  </button>
                </div>
              </div>
            </nz-card>
          </nz-col>
        </nz-row>
      </div>
      
    </nz-content>
  </nz-layout>
</nz-layout>
