<nz-modal
  [nzVisible]="isVisible"
  nzTitle="Update Tail Status"
  (nzOnOk)="handleOk()"
  (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>
    <div class="status-modal-header">
      <nz-avatar
        nzSrc="Fox_tail.png"
        [nzSize]="56"
        class="status-modal-avatar tail-avatar"
      ></nz-avatar>
      <p>Update the status for this tail. Make sure to leave some notes for the change.</p>
    </div>
    <form nz-form>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="status">Status</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-select
            [(ngModel)]="selectedStatus"
            name="status"
            id="status"
            nzPlaceHolder="Select a status"
          >
            <nz-option
              *ngFor="let status of tailStatuses"
              [nzValue]="status.name"
              [nzLabel]="status.name"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="note">Note</nz-form-label>
        <nz-form-control>
          <textarea
            [(ngModel)]="note"
            name="note"
            id="note"
            nz-input
            rows="4"
            class="resolve-modal-textarea"
            placeholder="Add a note (optional)"
          ></textarea>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
