<div class="forgot-password-container">
  <form nz-form #forgotPasswordForm="ngForm"
    class="forgot-password-form"
    (ngSubmit)="onForgotPasswordFormSubmit(forgotPasswordForm)">
    <h2>Forgot Password</h2>
    <nz-form-item class="n1netails-form-item">
      <nz-form-label [nzSpan]="24" nzFor="email" nzRequired>Enter your email</nz-form-label>
      <nz-form-control [nzSpan]="24">
        <input
          nz-input
          type="email"
          id="email"
          name="email"
          ngModel
          required
          placeholder="Enter your email"
          class="n1netails-input"
        />
      </nz-form-control>
    </nz-form-item>
    <button
      nz-button
      nzType="primary"
      class="forgot-password-btn"
      [disabled]="!forgotPasswordForm.valid"
      type="submit"
    >
      Reset password
    </button>
    <div class="back-to-login-link">
      <a routerLink="/login">Back to Login</a>
    </div>
  </form>
</div>
