name: Prettier Check

on:
  pull_request:
    paths:
      - "n1netails-ui/**"

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        working-directory: n1netails-ui
        run: npm ci

      - name: Run Prettier check
        working-directory: n1netails-ui
        run: npm run format:check
